@model SolvedBug

@{
    ViewData["Title"] = "BugDetails";
}


<h2>Bug Details</h2>

<div>
    <label class="fw-bold" asp-for="StepsToSolve"></label>
    <p>@Model.StepsToSolve</p>

    <label class="fw-bold" asp-for="TimeSpent"></label>
    <p>@Model.TimeSpent</p>

    @if (Model.Bug != null) 
    {
        <label class="fw-bold">Title:</label>
        <p>@Model.Bug.Title</p>

    }
    <a asp-action="EditSolvedBug" asp-route-id="@Model.BugId" asp-route-existingSolved="@Model.BugId" class="btn btn-warning">Edit</a>
    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@Model.BugId">Delete</a>
    <a class="btn btn-dark" asp-controller="Home" asp-action="Dashboard">Back to List</a>
</div>

