@model SolvedBug

@{
    ViewData["Title"] = "BugDetails";
}


<h2>Bug Details</h2>

<div>
    <label asp-for="StepsToSolve"></label>
    <p>@Model.StepsToSolve</p>

    <label asp-for="TimeSpent"></label>
    <p>@Model.TimeSpent</p>

    @if (Model.Bug != null) 
    {
        <h3>Related Bug</h3>
        <label>Title:</label>
        <p>@Model.Bug.Title</p>

    }

    <a asp-action="Solve" asp-route-id="@Model.BugId" class="btn btn-warning">Edit</a>
    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@Model.BugId">Delete</a>
    <a class="btn btn-dark" asp-controller="Home" asp-action="Dashboard">Back to List</a>
</div>

