@model BugTrackerApp.Models.Bug

@{
    ViewData["Title"] = "Bug Details";
}

<h3>Bug Details</h3>

<p><strong>Title:</strong> @Model.Title</p>
<p><strong>Description:</strong> @Model.Description</p>
<p><strong>Date Reported:</strong> @Model.DateReported.ToShortDateString()</p>
<p><strong>Resolved:</strong> @Model.IsResolved.ToString().ToUpper()</p>

<a class="btn btn-warning" asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
<a class="btn btn-dark" asp-action="Index">Back to List</a>