@model BugTrackerApp.Models.SolvedBug

@{
    ViewData["Title"] = "Submitted Data";
}
<h3>@ViewData["Title"]</h3>
<hr />
<div>
    <dl class="row">
        <dt class="col-sm-3">Steps to Reproduce</dt>
        <dd class="col-sm-9">@Model.StepsToSolve</dd>

        <dt class="col-sm-3">Time Spent (hours)</dt>
        <dd class="col-sm-9">@Model.TimeSpent</dd>

        <dt class="col-sm-3">Mark as Solved</dt>
        <dd class="col-sm-9">@Model.IsResolved</dd>

        <dt class="col-sm-3">Date Resolved</dt>
        <dd class="col-sm-9">@Model.DateResolved</dd>
    </dl>
</div>